@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Open+Sans:ital,wght@0,400;1,300;1,400&family=Roboto:wght@300&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: url(img/prime_home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  
   
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 48px;
}

header .logo{
    width: 150px;
}

/* NAVIGATION */
.navigation ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation ul li a {
    color: #fff;
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all .6s;
}

.navigation ul li a:hover {
    border-bottom: 2px solid #138ecc;
}

.navigation .search {
    width: 22px;
    cursor: pointer;
    filter: invert(1);
}

.navigation .perfil {
    width: 40px;
    cursor: pointer;
}







